/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width: 2400px){
/* Body Styling */
body {
    font-family: 'Roboto', Arial, sans-serif;
    color: #333;
    background-color: #f8f8f8;
    line-height: 1.6;
}

/* Navigation Bar */
header {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

/* Style for the logo container */
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Style for the logo link */
.logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

/* Style for the logo image */
.logo img {
    width: 100px;
    height: auto;
}

.nav-menu {
    display: flex;
    justify-content: center;
    flex: 1;
}

.nav-menu a {
    position: relative;
    text-decoration: none;
    color: #000;
    padding: 0 15px;
    overflow: hidden;
}

.nav-menu a::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background: #000;
    transition: width 0.3s ease, left 0.3s ease;
    transform: translateX(-50%);
}

.nav-menu a:hover::before {
    width: 100%;
    left: 0;
    color: inherit;
    transition: width 0.6s ease, left 0.6s ease;
    transform: translateX(0%);
}

/* Social Media Links */
.social-media {
    display: flex;
    align-items: center;
}

.social-icon {
    margin-left: 15px;
}

.social-icon img {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.social-icon img:hover {
    transform: scale(1.1);
    filter: brightness(0.8);
}

/* Main Section */
main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    text-align: center;
    padding: 20px;
}

/* Welcome Section */
.welcome-section h1 {
    font-family: 'Playfair Display', serif;
    font-size: 42px;
    margin-bottom: 10px;
}

.welcome-section p {
    font-size: 18px;
    color: #666;
}


/* Blog Container */

/* CSS for Update Message */
.update-message {
    text-align: center;
    padding: 50px;
    background-color: #f0f0f0;
    border-radius: 10px;
    font-size: 2em;
    color: #333;
    font-weight: bold;
}

.update-message h1 {
    margin: 0;
    font-family: Arial, sans-serif;
}

.blog-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
    padding: 10px;
    gap: 5px;
    justify-content: space-between;
}

/* Blog Header */
.blog-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 10px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.blog-header h1 {
    font-size: 42px;
}

.blog-header p {
    max-width: 1200px;
}

/* Blog Posts */
.blog-posts {
    display: grid;
    direction: ltr;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    justify-content: center;
}

.blog-post {
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.blog-post h2 {
    font-size: 16px;
    margin-bottom: 5px;
}

.blog-post h2 a {
    text-decoration: none;
    color: #007bff;
}

.blog-post h2 a:hover {
    text-decoration: underline;
}

.post-image img {
    max-width: 500px;
    max-height: 500px;
    object-fit: contain;
    border-radius: 8px;
}

.post-content h2 {
    font-size: 16px;
    margin-bottom: auto;
}

.post-content h2 a {
    text-decoration: none;
    color: #007bff;
}

.post-content h2 a:hover {
    text-decoration: underline;
}

.post-date {
    font-size: 12px;
    color: #999;
    margin-bottom: 5px;
    text-align: center;
}

.post-summary {
    font-size: 14px;
    color: #666;
}

/* Blog Post Page Styling */
.blog-post-page {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.blog-post {
    margin: 0 auto 100px;
}

/* Image styling */
.post-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Heading styling */
.post-content h1,
.post-content h2 {
    margin-bottom: 10px;
    text-align: left;
}

.post-content h1 {
    font-size: 36px;
}

.post-content h2 {
    font-size: 24px;
    text-align: center;
}

/* Paragraph styling */
.post-content p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
    text-align: left;
    line-height: 1.6;
    overflow-wrap: break-word;
}

/* Date styling */
.post-date {
    font-size: 14px;
    color: #999;
    margin-bottom: 20px;
    text-align: center;
}

/* List styling */
.post-body ul {
    list-style-type: disc;
    padding-left: 20px;
    margin: 10px 0;
    list-style-position: inside;
    text-align: left;
    text-justify: auto;
}

.post-body li {
    margin-bottom: 10px;
    text-align: left;
    padding: 10px;
    list-style-position: inside;
}

.back-button {
    background-color: transparent;
    color: black;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    transition: color 0.3s ease;
}

.back-button svg {
    margin-right: 8px;
    transition: transform 0.3s ease;
}

.back-button:hover {
    color: #333;
}

.back-button:hover svg {
    transform: translateX(-3px);
}

/* About Section */
.about-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 40px;
    width: 100%;
}

.about-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    margin-top: 60px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-info {
    flex: 1;
    padding-right: 20px;
    text-align: left;
}

.portfolio-info {
    flex: 1;
    max-width: 300px;
    margin-left: 20px;
}

.portfolio-picture {
    width: 100%;
    height: auto;
    border-radius: 8px;
    filter: grayscale(100%);
    transition: filter 0.3s ease;
}

.portfolio-picture:hover {
    filter: grayscale(0%);
}

.about-links {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.link-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.link-item a {
    text-decoration: none;
    color: #007BFF;
    text-align: center;
}

.link-icon {
    width: 40px;
    height: auto;
    margin-bottom: 8px;
}

.link-item a:hover {
    text-decoration: underline;
}

.link-text {
    margin-top: 8px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-links a {
    display: block;
    color: #007BFF;
    text-decoration: none;
    margin-right: 10px;
}

.about-links a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    z-index: 999;
}

/* Footer Content */
.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-links a {
    margin: 0 10px;
    text-decoration: none;
    color: #007BFF;
}

.footer-content p {
    font-size: 14px;
    color: #666;
}

.footer-links a:hover {
    text-decoration: underline;
}


/* Publications Page Styles */
/* Publications Container */
.publications-container {
    max-width: 1200px; /* Increased max-width for the publications container */
    margin: auto;
    padding: 20px;
    background-color: #fff; /* Background color for the publications container */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for a subtle 3D effect */
}

/* Year Section */
.year-section {
    margin-bottom: 40px;
    padding: 20px;
    background-color: #f9f9f9; /* Light background for each year section */
    border-radius: 8px; /* Rounded corners for each section */
}

/* Year Heading */
.year-heading {
    font-size: 36px; /* Larger font size for the year */
    font-weight: bold;
    margin-bottom: 10px; /* Space below the heading */
    border-bottom: 2px solid #ddd; /* Border for visual separation */
    padding-bottom: 5px;
    color: #333;
}

/* Publication Item */
.publication-item {
    display: flex;
    align-items: center;
    gap: 15px; /* Increased gap for better spacing */
    border-bottom: 1px solid #ddd; /* Divider line */
    padding: 15px 0; /* Increased padding for better spacing */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transitions */
}

/* Publication Name */
.publication-name {
    font-size: 16px; /* Font size for publication title */
    color: #333;
    line-height: 1.4; /* Adjust line height for better readability */
    text-align: left; /* Align the name to the left */
}

/* Publication Name Heading */
.publication-name h3 {
    margin: 0; /* Remove default margin */
}

/* Publication Image */
.publication-image img {
    max-width: 150px; /* Increased width for a larger image */
    height: auto;
}

.publication-item:hover {
    background-color: #f1f1f1; /* Subtle background color change on hover */
    border-radius: 8px; /* Maintain rounded corners on hover */
    transform: translateY(-5px); /* Slight lift effect on hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); /* Enhanced shadow effect on hover */
}


/* Research Page Styles */
.research-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1500px;
    margin: auto;
    padding: 20px;
}

.research-content {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.research-content h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.research-content p {
    margin-bottom: 20px;
    text-align: left;
}

.research-video {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.research-video iframe {
    width: 100%;
    max-width: 560px;
    height: 315px; /* Explicitly set the height */
    border-radius: 8px;
    border: 1px solid #ddd;
}

/* Optional: Add a slight hover effect for interactivity */
.research-content:hover,
.research-video:hover iframe {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
}


/* Contact Page Styling */
.contact-container {
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
    max-width: 1200px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-info {
    flex: 1;
    padding-right: 40px;
}

.contact-info h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.contact-info p {
    font-size: 16px;
    margin: 10px 0;
    color: #666;
    text-align: left;
}

.contact-info strong {
    font-weight: bold;
    color: #333;
    text-align: left;
}

.vertical-line {
    width: 1px;
    background-color: #ddd;
    height: auto;
    margin: 0 20px;
}

.contact-form {
    flex: 1;
    padding-left: 40px;
}

.contact-form h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.contact-form .form-group {
    margin-bottom: 20px;
}

.contact-form label {
    font-size: 16px;
    margin-bottom: 5px;
    color: #555;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f9f9f9;
    transition: background-color 0.3s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
    background-color: #fff;
    border-color: #aaa;
    outline: none;
}

.contact-form button {
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #0056b3;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f9f9f9;
    transition: background-color 0.3s ease;
}

.form-group input:focus, .form-group textarea:focus {
    background-color: #fff;
    border-color: #aaa;
    outline: none;
}

.error {
    color: red;
    margin-top: 5px;
    font-size: 14px;
}

/* Map Container */
.map-container {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.map-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.map-container iframe {
    width: 100%;
    border-radius: 10px;
    border: none;
}

/* License Container */
.license-container {
    max-width: 1200px;
    margin: 100px auto 50px; /* Increased margin-top for more space above the container */
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Main Title */
.license-container h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

/* Section Titles */
.license-container h2 {
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #333;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
}

/* Paragraphs */
.license-container p {
    font-size: 16px;
    line-height: 1.6;
    color: #666;
    margin: 10px 0;
    text-align: left;
}

/* Links */
.license-container a {
    color: #007BFF;
    text-decoration: none;
}

.license-container a:hover {
    text-decoration: underline;
}
}

/* Media Queries */

/* Tablet View */
@media (max-width: 1024px) {
    /* General Styles */
    body, html {
        margin: 0;
        padding: 0px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    *, *::before, *::after {
        box-sizing: border-box; /* Inherit box-sizing for all elements */
        max-width: 100%; /* Prevent elements from exceeding viewport width */
    }

    .main-content{
        flex: 1;
    }
    
    .nav-container{
        position: relative;
        display: flex;
        justify-content: center;
        padding: 0 10px;
        height: 50px; /* Increase the height of the nav container */
    }

    .social-media {
        position: absolute;
        top: 10px;
        right: 0px;
    }

    .logo{
        position: absolute;
        left: 0; /* Position to the left */
        top: 50%; /* Center vertically within .nav-container */
        transform: translateY(-50%); /* Adjust vertical centering */
        display: flex;
        align-items: center;
        height: 100%;
    }

    .contact-container,
    .license-container,
    .blog-container {
        flex-direction: column;
        padding: 20px;
    }

    .research-container{
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 100px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .research-video{
        margin-top: 50px;
        margin-bottom: 100px;
    }

    .about-section {
        margin-top: auto;
        max-width: 100%;
        margin-bottom: 100px;
    }

    .about-box{
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 100px;
    }

    .blog-posts{
        display: grid;
        direction: ltr;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }

    .about-info,
    .portfolio-info {
        margin: 0;
        width: 100%;
    }

    .portfolio-picture {
        max-width: 100%;
        height: auto; /* Added to maintain aspect ratio */
    }

    .column {
        flex: 1 1 100%;
    }

    .vertical-line {
        display: none;
    }

    .back-button {
        background-color: transparent;
        color: #000;
        border: none;
        display: flex;
        align-items: center;
        cursor: pointer;
        position: absolute;
        left: 10px;
    }

    .back-button svg {
        margin-right: 8px;
        transition: transform 0.3s ease;
    }

    .contact-form{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .contact-container {
        margin-top: auto; /* Pushes the container to the bottom of its flex parent */
        max-height: 700px; /* Limits the height of the container */
        margin-bottom: 200px; /* Space between the container and the footer */
        display: flex;
        flex-direction: column; /* Ensure content aligns correctly */
    }

    .map-container iframe {
        height: 300px;
        width: 100%; /* Added to maintain aspect ratio */
    }

    .license-container h1 {
        font-size: 28px;
    }

    .license-container h2 {
        font-size: 22px;
    }

    .license-container p {
        font-size: 14px;
    }
}

/* Mobile Phone View */
@media (max-width: 640px) {
    /* General Styles */
    body, html {
        margin: 0;
        padding: 0px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    *, *::before, *::after {
        box-sizing: border-box; /* Inherit box-sizing for all elements */
        max-width: 100%; /* Prevent elements from exceeding viewport width */
    }

    .main-content{
        flex: 1;
    }

    .nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
        position: relative;
        height: 50px; /* Increase the height of the nav container */
    }
    
    /* Social Media Icons on the Left */
    .social-media {
        position: absolute;
        top: 10px; /* Adjust positioning as needed */
        left: -30px; /* Adjust positioning as needed */
        display: flex;
        align-items: center;
        gap: 0px;
    }
    
    .social-icon img {
        width: 25px;
        height: 25px;
    }
    
    /* Centered Logo */
    .logo {
        position: absolute;
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        flex-grow: 1; /* Ensures the logo stays centered */
        text-align: center;
    }

    .logo img {
        max-height: 50px; /* Adjust logo size as needed */
    }
    
/* Hamburger Menu on the Right */
.hamburger-menu {
    position: absolute;
    top: 10px; /* Adjust positioning as needed */
    right: 0px; /* Adjust positioning as needed */
    display: block;
    cursor: pointer;
    z-index: 1000; /* Ensure it appears above other elements */
}

.hamburger-menu span {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 0;
    background-color: #333;
    transition: transform 0.3s, background-color 0.3s; /* Smooth transition for transform and color */
}

/* Hover effect for moving top and bottom lines */
.hamburger-menu:hover span:nth-child(1) {
    transform: translateY(-6px); /* Move the top line down */
}

.hamburger-menu:hover span:nth-child(3) {
    transform: translateY(6px); /* Move the bottom line up */
}

/* Navigation Menu */

    .nav-menu {
        display: flex; /* Default state for visibility control */
        flex-direction: column;
        position: fixed;
        top: 80px;
        right: 0;
        background-color: #fff;
        width: 200px;
        max-height: 80vh;
        height: auto; /* Full viewport height */
        padding: 10px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        transform: translateX(100%); /* Start off-screen */
        opacity: 0;
        overflow-y: auto;
        transition: transform 0.3s ease, opacity 0.3s ease; /* Smooth transition */
        box-sizing: border-box;
    }

    .nav-menu.active {
        transform: translateX(0px);
        opacity: 1;
    }

    .nav-menu a {
        display: block;
        text-align: center;
        padding: 10px;
        margin: 5px 0;
        background-color: #f5f5f5;
        border-radius: 5px;
        text-decoration: none;
        color: #333;
        transition: background-color 0.3s;
    }

    .nav-menu a:hover {
        background-color: #ddd;
    }

    h1, h2, h3, p, label, a, .publication-name, .contact-form input, 
    .contact-form textarea, .contact-form button {
        margin-bottom: 10px;
        font-size: 14px;
    }
    
    .portfolio-info {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .portfolio-picture {
        width: auto;
        height: 50%;
    }

    .about-section{
        margin-top: auto;
        margin-bottom: 100px;
    }

    .about-box{
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 100px;
        margin-top: 1px;
    }

    .welcome-section h1{
        font-size: 9vw;
    }

    .blog-header h1{
        font-size: 8vw;
    }

    .blog-header p{
        font-size: 4vw;
    }

    .blog-posts{
        display: grid;
        direction: ltr;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
    }

    .blog-post {
        background-color: #fff;
        padding: 5px;
        border: 1px solid #ddd;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }
    
    .post-image img {
        max-width: 250px;
        max-height: 250px;
        object-fit: contain;
        border-radius: 8px;
    }

    .post-content h2 {
        font-size: 4vw;
        text-align: left;
    }

    .back-button {
        background-color: transparent;
        color: #000;
        border: none;
        display: flex;
        align-items: center;
        cursor: pointer;
        position: absolute;
        left: 10px;
    }
    
    .license-container h1,
    .year-heading {
        font-size: 20px;
    }

    .research-container {
        width: 100%;
        position: absolute;
        top: 60px;
        margin-bottom: 50px;
        z-index: 1;
    }

    .research-content h1{
        font-size: 6vw;
    }

    .research-content p{
        font-size: 4vw;
    }

    .link-icon {
        width: 30px;
        margin-bottom: 5px;
    }

    .link-text, .footer-links a, .license-container p {
        font-size: 12px;
    }

    .post-date {
        font-size: 4vw;
        color: #999;
        margin-bottom: 0px;
        text-align: center;
    }

    .post-body ul {
        padding-left: 10px;
        margin: 5px 0;
    }

    .about-info, .publications-container, .year-section, .license-container {
        padding: 10px;
    }

    .portfolio-picture,
    .research-video iframe,
    .map-container iframe {
        display: block;
        margin: 0 auto;
        width: 100%; /* Ensures images, videos, and iframes fit within container */
        height: auto; /* Maintain aspect ratio */
    }

    .publication-image{
        display: none;
    }

    .publication-item {
        gap: 10px;
        padding: 10px 0;
    }

    footer {
        padding: 10px;
    }

    .footer-content {
        max-width: 800px;
        margin: 0 auto;
    }

    .footer-links a {
        margin: 0 5px;
    }

    .contact-form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact-container{
        max-height: 700px;
        margin-bottom: 200px;
        display: flex;
        background-color: #fff;
        border-radius: 10px;
        flex-direction: column;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 20px;
        gap: 20px;
        align-items: center;
    }

    .contact-info{
        width: 100%;
        max-width: 400px;
        padding: 0 20px;
    }

    .contact-info h2 {
        font-size: 16px;
        margin-bottom: 10px;
        color: #333;
        text-align: center;
    }

    .contact-info p {
        font-size: 12px;
        margin: 10px 0;
        color: #666;
        text-align: left;
    }

    .contact-form{
        width: 100%;
        max-width: 400px;
        padding: 0 20px;
    }

    .contact-form h2 {
        font-size: 16px;
        margin-bottom: 20px;
        color: #333;
    }

    .contact-form .form-group {
        margin-bottom: 20px;
    }

    .contact-form label {
        font-size: 12px;
        margin-bottom: 5px;
        color:#555;
        display: block;
        text-align: left;
    }

    .contact-form input,
    .contact-form textarea {
        width: 90%;
        padding: 8px;
        max-width: 200px;
        border: 1px solid #ddd;
        border-radius: 5px;
        font-size: 12px;
        background-color: #f9f9f9;
        transition: background-color 0.3s ease;
        align-items: left;  
    }

    .contact-form input:focus,
    .contact-form textarea:focus {
    background-color: #fff;
    border-color: #aaa;
    outline: none;
    }

    .contact-form button {
        padding: 8px 16px;
        font-size: 12px;
        color: #fff;
        background-color: #007BFF;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin-top: -20px;
    }

    .contact-form button:hover {
        background-color: #0056b3;
    }

    .form-group input, .form-group textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        font-size: 12px;
        background-color: #f9f9f9;
        transition: background-color 0.3s ease;
    }

    .form-group input:focus, .form-group textarea:focus {
        background-color: #fff;
        border-color: #aaa;
        outline: none;
    }
    
    .error {
        color: red;
        margin-top: 5px;
        font-size: 12px;
    }

    .license-container {
        margin-top: 50px;
    }

    .license-container h2 {
        font-size: 20px;
    }
}